.login-page
{
background-image: url('./space.jpg');
background-repeat: no-repeat;
background-size:100%;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
bottom: 0;
left: 0;
overflow: auto;
position: absolute;
padding: 1rem;
right: 0;
top: 0;
}

#text {
text-align: center;
}

#cardLogin {
/* margin-top: 3rem; */
padding-top: 2rem;
padding-left: 1.2rem;
padding-right: 1.2rem;
background-color: rgba(255, 255, 255);
box-shadow: 4px 5px 20px rgba(0, 0, 0, .3)
}

#legend {
font-size: 2.5rem;
font-weight: 100;
line-height: 1.2;
margin-bottom: 2%;
}

#user {
margin-bottom: 2%;
}

#senha {
margin-bottom: 2%;
}

#submit {
margin-bottom: 2%;
} 
